@import 'vars';
@import 'global';
@import 'fonts';

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
}
.menu{
    ul{
        li{
            display: inline-block;
            & + li{
                margin-left: 30px;
            }
        }
    }
}
.languages{
    span{
        color: $text;
    }
}
.breadcrumbs__inner{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    li{
        display: inline-block;
    }
    .breadcrumbs__link--active{
        padding: 3px 11px;
        background-color: #fff;
        background-color: $text;
        border-radius: 20px;
        opacity: 80%;
        color: #6E105E;
    }
}
h1{
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
}
.blogers__sorting{
    li{
        display: inline-block;
        & + li{
            margin-left: 50px;
        }
    }
    .sorting{
        font-size: 20px;
        line-height: 25px;
        font-weight: 600;
    }
    .sorting-dropdown{
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            right: -27px;
            top: -3px;
            width: 24px;
            height: 24px;
            background-image: url(../images/arrow-bottom.svg);
        }
    }
}
.blogers__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0px;
}
.blogers-item{
    height: 311px;
    width: 311px;
    position: relative;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    &:hover{
        .blogers-item__content{
            display: none;
        }
        img{
            opacity: 100%;
        }
    }
    img{
        opacity: 50%;
        height: 311px;
        width: 311px;
        transition: all .5s;
    }
    &__content{
        position: absolute;
        bottom: 20px;
        left: 12px;
    }
    &__name{
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
    }
    &__soc{
        li{
            display: inline-block;
            padding-left: 34px;
        }
        .blogers-item__youtube{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background-image: url(../images/youtube-icon.svg);
                left: 0;
                top: 0;
                width: 24px;
                height: 16px;
            }
        }
        .blogers-item__vk{
            position: relative;
            margin-left: 20px;
            &::before{
                content: '';
                position: absolute;
                background-image: url(../images/vk-icon.svg);
                left: 0;
                top: 0;
                width: 24px;
                height: 14px;
            }
        }
        .blogers-item__insta{
            margin-top: 10px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                background-image: url(../images/insta-icon.svg);
                left: 0;
                top: 0;
                width: 24px;
                height: 24px;
            }
        }
    }
}
.footer__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__contact{
    &-link{
        li{
            display: inline-block;
            margin-left: 50px;
        }
    }
    &-soc{
        padding-left: 300px;
        margin-top: 30px;
        li{
            display: inline-block;
            & + li{
                margin-left: 30px;
            }
        }
    }
}
.person__inner{
    display: flex;
}
.person__info{
    padding: 0px 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25); 
    &-title{
        padding: 30px 0px;
        font-size: 50px;
        line-height: 60px;
        font-weight: 800;
        border-bottom: 1px solid #EFF3F5;
    }
    &-soc{
        padding: 30px 0px;
        border-bottom: 1px solid #EFF3F5;
        a{
            padding-left: 84px;
            span{
                display: block;
            }
        }
        .person-box{
            li{
                display: inline-block;
                & + li{
                    margin-left: 134px;
                }
                .person__youtube{
                    position: relative;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 36px;
                    span{
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 64px;
                        height: 64px;
                        background-image: url(../images/person-youtube.png);
                    }
                }
                .person__vk{
                    position: relative;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 36px;
                    span{
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 64px;
                        height: 64px;
                        background-image: url(../images/person-vk.png);
                    }
                }
            }
        }
        .person__insta{
            margin-top: 30px;
            position: relative;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 36px;
                    span{
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 64px;
                        height: 64px;
                        background-image: url(../images/person-insta.png);
                    }
        }
    }
    &-channel{
        padding: 30px 0px;
        .person__channel-box{
            max-height: 173px;
            overflow-x: hidden;
            &::-webkit-scrollbar{
                width: 4px;
                border-radius: 4px;
            }
            &::-webkit-scrollbar-track{
                background-color: #969696;
            }
            &::-webkit-scrollbar-thumb{
                background-color: #EFF3F5;
                width: 10px;
                border-radius: 4px;
            }
            .person__channel-title{
                font-size: 30px;
                font-weight: 700;
                margin: 0px 0px 10px 0px;
            }
            .person__channel-text{
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                margin: 0;
            }
        }
    }
}